@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "welcome_font";
  src: url("/welcome_font/웰컴체 Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kopubworld";
  src: url("/kopubworld/KoPubWorld Dotum Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "kopubworld";
}
